/*=================== top header part start ==================*/
.top_hearder_part {
  background: var(--next-main-color);
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.top_hearder_part h1 {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

/*=================== top header part end ==================*/

/*=================== menu_part start ======================*/
.menu_part {
  background: var(--next-text-color);
  height: 100px;
}

.manu_part a.navbar-brand img {
  width: 235px;
  height: 48px;
}

.menu_part ul li {
  position: relative;
}

.menu_part ul li a {
  color: var(--next-main-color2);
  font-weight: var(--next-weight-normal);
  font-size: var(--next-font-size3) !important;
  padding: 0 18px;
  transition: all 0.3s ease-in-out;
}

.menu_part ul li a.active,
.menu_part ul li a:hover {
  font-weight: var(--next-weight-semi-bold);
}

.menu_part ul > li:last-child a {
  color: var(--next-main-color);
  font-size: var(--next-font-size3) !important;
}

.menu_part ul li > ul.dropdown_menu {
  position: absolute !important;
  top: 100%;
  left: 10000px;
  max-height: 350px;
  background: var(--next-text-color);
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  padding: 0;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.menu_part ul li > ul.dropdown_menu li a {
  color: var(--next-main-color2);
}
.menu_part ul li:hover ul.dropdown_menu {
  left: 0;
}

/*=================== menu_part end ======================*/

/*=================== banner_part start ======================*/
.banner_part {
  width: 100%;
  min-height: 450px;
  height: 450px;
  position: relative;
}

.banner_part .hero_slider .item {
  width: 100%;
  height: 450px;
}

.banner_part .hero_slider img {
  width: 100%;
  height: 100%;
}

.banner_part .owl-nav .owl-prev,
.banner_part .owl-nav .owl-next {
  height: 50px;
  width: 50px;
  color: var(--next-text-color2) !important;
  transform: translateY(-50%);
  font-size: 20px !important;
  border: 2px solid var(--next-main-color) !important;
  border-radius: 50%;
}

.banner_part .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 50px;
}

.banner_part .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 50px;
}

/*=================== banner_part end ======================*/

/*============== banner_bottom_part start =================*/
.banner_bottom_part {
}

.banner_bottom_part img {
  width: 300px;
  height: 180px;
  border-radius: 5px;
}

/*============== banner_bottom_part end ===================*/

/*=================== product part start ===================*/
.product_part {
}

.upcoming_product_text h5,
.upcoming_product h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.product_part .upcoming_product {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  width: 100%;
  /* height: 674px; */
  border: 3px solid #0075ff;
  border-radius: 17px;
}

.upcoming_product h6 {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0px;
}

.upcoming_product p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.product_part .upcoming_product .upcoming_product_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  border-radius: 25px;
  margin: 30px 0px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.product_part .upcoming_product .upcoming_product_image img {
  width: 70%;
  height: 49px;
}

.product_part .product_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 2px solid #dcdcdc;
}

.product_part .product_head h2 {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  border-bottom: 3px solid var(--next-main-color);
}

.product_part .product_head p {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.product_part .product_item {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 224px;
  height: 256px;
  border-radius: 10px;
  position: relative;

  background: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
}

.product_part .product_item img {
  margin-top: 20px;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  width: 192px;
  height: 128px;
}

.product_part .product_item:hover img {
  transform: scale(1);
}

.product_item h5 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.product_item p {
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

.product_part .product_item .tooltrip {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 256px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.product_part .product_item .tooltrip p {
  font-size: 16px;
  font-weight: 400;
  padding: 0.5rem 15px;
  color: #fff;
}

.product_part .product_item:hover .tooltrip {
  opacity: 1;
}

/*=================== product part end ===================*/

/*================== about part start ======================*/
.about_part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about_part h5 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
}

.about_part .about_content p {
  color: #000;
  font-size: 24px;
  padding: 0.7rem 0px;
  font-weight: 500;
}

.about_part .find_more a {
  color: #0075ff;
  font-size: 24px;
  font-weight: 500;
}

.about_part img {
  width: 384.914px;
  height: 320px;
}

/*================== about part end ======================*/

/*================== latest product part start ======================*/
.latest_product {
  position: relative;
}

.latest_product .product_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-bottom: 2px solid #dcdcdc;
}

.latest_product .product_title {
  border-bottom: 5px solid var(--next-main-color);
}

.latest_product .product_title h2 {
  color: #000;
  font-size: 30px;
  font-weight: 600;
}

.latest_product .product_head p {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.product_slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 30px;
  text-align: center;
}

.product_slide .slide_item {
  padding: 10px;
}

.product_slide .slide_image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 241px;
  height: 325px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
}

.product_slide .slide_image img {
  width: 207px;
  height: 138px;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.product_slide .slide_image:hover img {
  transform: scale(1);
}

.latest_product .owl-nav {
  display: block !important;
}

.latest_product .owl-nav .owl-prev,
.latest_product .owl-nav .owl-next {
  height: 325px;
  width: 50px;
  color: #fff !important;
  font-size: 30px !important;
  transform: translateY(-50%);
  border-radius: 0px 10px 10px 0px !important;
  background: rgba(0, 0, 0, 0.3) !important;
}

.latest_product .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  left: 8px;
}

.latest_product .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  right: 8px;
}

.latest_product .owl-nav {
  display: block !important;
}

.latest_product .slide_image img {
  width: 207px;
  height: 138px;
}

/*================== latest product part end ======================*/

/*============== brand_part & client_part start =======================*/
.client_part,
.barnd_part {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.client_part h2,
.barnd_part h2 {
  font-size: var(--next-main-color);
  font-weight: var(--next-weight-bold);
  font-size: 30px;
}

.client_part .our_image,
.barnd_part .our_image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 312px;
  height: 130px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.client_part .our_image img,
.barnd_part .our_image img {
  width: 200px;
  height: 80px;
  border-radius: 10px;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.client_part .our_image:hover img,
.barnd_part .our_image:hover img {
  transform: scale(1);
}

.client_part h3,
.barnd_part h3 {
  color: #000;
  font-size: 25px;
  font-weight: 700;
}

/*============== brand_part & client_part end =======================*/

/*============== newsletter part start =======================*/
.newsletter_part {
  background: var(--next-main-color);
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter_part .middle_content p,
.newsletter_part .left_content p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.newsletter_part .middle_content p {
  font-size: 14px;
}

.newsletter_part .right_content {
  margin-top: 17px;
}

.newsletter_part .right_content input {
  border: 0px;
  border-radius: 19px 0px 0px 19px;
  background: #fff;
  padding: 7px 1rem;
}

/* input focus */
.newsletter_part .right_content input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.newsletter_part .right_content button {
  border: 0px;
  border-radius: 0px 19px 19px 0px;
  padding: 7px 1rem;
  background: #000;
  color: #fff;
}
/*============== newsletter part end =======================*/

/*================ footer part start =======================*/
.footer_part {
}

.footer_part .footer_left {
}
.footer_part .footer_left .footer_contact {
}
.footer_part .footer_left .footer_contact p {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

.footer_part .footer_left {
}

.footer_part .footer_left .contact_info h5 {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.footer_part .footer_left .contact_info p {
  color: #000;
  font-size: 12px;
  font-weight: 400;
}

.social_link ul {
  display: flex;
  align-items: center;
}

.social_link ul li {
  padding: 0 5px;
}

.social_link ul li:first-child {
  padding-left: 0px;
}

.social_link ul li a {
  color: #000;
  font-size: 25px;
  font-weight: 400;
}

.social_link ul li:last-child a {
  font-size: 14px;
  font-weight: 700;
}

.footer_middle {
}

.footer_middle h5 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.footer_middle ul {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.footer_middle ul li a {
  color: #000;
  font-size: 15px;
  font-weight: 400;
}

.footer_middle {
}

/*================ footer part end =========================*/

/*================ copyright part start =========================*/
.copyright_part {
  background: #d9d9d9;
  height: 65px;
  display: flex;
  align-items: center;
}
.copyright_part p span {
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

.copyright_part p {
  color: #000;
  font-size: 12px;
  font-weight: 400;
}
/*================ copyright part end =========================*/

input {
}
input::placeholder {
  padding-left: 1rem;
}
